<h1>My Workspaces</h1>

<%= link_to "New Workspace", new_workspace_path %>

<% if @workspaces.empty? %>
  <p>You don't have any workspaces yet. Create one!</p>
<% else %>
  <% @workspaces.each do |workspace| %>
    <div>
      <h3><%= link_to workspace.name, workspace_path(workspace) %></h3>
      <p>Role: <%= workspace.workspace_memberships.find_by(user: current_user).role %></p>
    </div>
  <% end %>
<% end %>